{% extends 'base.html.twig' %}
    {% block jumbotronc %}
        {% if current_menu == constant('App\\Application\\Series\\Controller\\SeriesController::HOME') %}
            <h1 class="display-4">{{ 'home.title' | trans }}</h1>
        {% elseif current_menu == constant('App\\Application\\Series\\Controller\\SeriesController::USER') %}
            <h1 class="display-4">{{ 'base.favorites' | trans }}</h1>
        {% endif %}
    {% endblock %}
{% block body %}
    <div class="container">
        <div class="flex row">
            {% for serie in  series %}
                <div class="col-3">
                    {% include 'serie/_serie.html.twig' %}
                </div>
            {% endfor %}
        </div>
        <div class="pagination">
            {{ knp_pagination_render(series) }}
        </div>
    </div>
{% endblock %}

