{% extends 'base.html.twig' %}
    {% block jumbotronc %}
        <h1 class="display-3">{{ serie.title }}</h1>
    {% endblock %}
{% block body %}
    {{  include('common/_flash_messages.html.twig') }}
    <div class="container">
        {% include 'serie/_serie.html.twig' %}
        {% include 'serie/_seasons_details.html.twig' %}
    </div>
{% endblock %}
{% block javascripts %}
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
{% endblock %}

