{% extends 'base.html.twig' %}
    {% block jumbotronc %}
        <h1 class="display-3">
            <a href="">
                <a href={{ path('serie.show', {'id':episode.serie.id}) }}>{{ episode.serie.title }}</a>
            </a>
        </h1>
    {% endblock %}
{% block body %}
    <div class="container">
        {% include 'episode/_episode.html.twig' %}
    </div>
{% endblock %}

