<div class="card mb-4">
    <div class="card-body">
        <h5 class="card-title">
            {{ episode.code }}
        </h5>
        <img src="{{ episode.serie.images.show }}" alt="card-img-top" style="width: 100%; height:auto;">
        <div id="description">
            <p class="card-text" id="collapseDescription">{{ episode.description }})</p>
        </div>
    </div>
</div>